#ifndef CONFIG_INCLUDE
#define CONFIG_INCLUDE

// Essentail settings
#define WIFI_SSID "wifi"       // WiFi SSID
#define WIFI_PSK  "p@ssw0rd"   // WiFi PSK
#define SITE_USER "admin"      // Login username
#define SITE_PASS "p@ssw0rd"   // Login password

#define DUC_SERVICE true  // Whether enable DDNS auto refresh
#define OLED_DISPLAY true // Whether enable OLED display
#define SSL_SERVER false  // Whether to use SSL certificate

#define DOMAIN_TYPE "noip"
#define DOMAIN_NAME "my-no-ip-domain"
#define DOMAIN_USER "noip-user"
#define DOMAIN_PASS "p@ssw0rd"

#define LOG_TIMESTAMP false
#define LOG_LEVEL 1

// Device IP and MAC address
class Device {
  public: 
    short int id;
    IPAddress ip;
    char mac[18];
    String title, image, lore;

  Device(int id, IPAddress ip, char mac[18], String title, String image, String lore) {
    this->id = id;
    this->ip = ip;
    strcpy(this->mac, mac);
    this->title = title;
    this->image = image;
    this->lore = lore;
  };

  String toJson() {
    return "{\"id\":" + String(id) + ", \"na\":\"" + title + "\", \"ip\":\"" + lore + "\", \"im\": \"" + image + "\"}";
  }
};

// Device IP and MAC address
Device devices[] = {
  Device(0, IPAddress(192, 168, 1, 110), "AA:BB:CC:DD:EE:FF", "Device Name 1", "assets/device3.png", "Device 1 lore"),
  Device(1, IPAddress(192, 168, 1, 109), "AA:BB:CC:DD:EE:FF", "Device Name 2", "assets/device2.png", "Device 2 lore"),
  Device(2, IPAddress(192, 168, 1, 108), "AA:BB:CC:DD:EE:FF", "Device Name 3", "assets/device1.png", "Device 3 lore"),
};

// SSL Certificate
unsigned char example_crt_DER[] = {

};
unsigned int example_crt_DER_len = 0;

// SSL Private Key
unsigned char example_key_DER[] = {

};
unsigned int example_key_DER_len = 0;

#endif