#ifndef CONFIG_INCLUDE
#define CONFIG_INCLUDE

// Essentail settings
#define WIFI_SSID "wifi"       // WiFi SSID
#define WIFI_PSK  "p@ssw0rd"   // WiFi PSK
#define SITE_USER "admin"      // Login username
#define SITE_PASS "p@ssw0rd"   // Login password

#define DUC_SERVICE true  // Whether enable DDNS auto refresh
#define OLED_DISPLAY true // Whether enable OLED display
#define SSL_SERVER false  // Whether to use SSL certificate

#define DOMAIN_TYPE "noip"
#define DOMAIN_NAME "my-no-ip-domain"
#define DOMAIN_USER "noip-user"
#define DOMAIN_PASS "p@ssw0rd"

#define LOG_TIMESTAMP false
#define LOG_LEVEL 1

// Device IP and MAC address
#define DEVICE_COUNT 1 // 定義裝置數量 (用於Ping和網頁生成)
const char *MACAddress[] = {"00:00:00:00:00:00"};
const IPAddress ip[]  =    {IPAddress(192, 168, 1, 100)};

// SSL Certificate
unsigned char example_crt_DER[] = {

};
unsigned int example_crt_DER_len = 0;

// SSL Private Key
unsigned char example_key_DER[] = {

};
unsigned int example_key_DER_len = 0;

#endif