  body { 
    background-image: radial-gradient(circle, #2a2a2a, #212121, #191919, #0f0f0f, #000000);
  }

  * { padding: 0; margin: 0; }
  html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
  }
  
  .container {
    background: rgb(23, 25, 24);
    border-style: solid;
    border-color: rgb(58, 60, 58);
    border-radius: 20px;
    border-width: 1px;
    margin: auto;
    padding: 20px;
    width: 500px;
    height: 75vh;
    min-height: 550px;
  }

  .loginTitleGrid { /* "登入以繼續"文字排版 */
    width: 500px;
    height: 5px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: [column_1] 0.5fr [column-2] 60px [column-3] auto [column-4] 0.5fr;
    grid-template-rows: [row-1] 1fr [row-2] 10px ;
  }

  .loginImage{ /* "登入以繼續"圖示 */
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .loginText{ /* "登入以繼續"文字 */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 52px;
    line-height: 0px;
    vertical-align: text-bottom;
    color: white;
    margin-top: 32px;
    margin-left: 15px;
  }

  .loginFormGrid{
    width: 500px;
    height: 100%;
    display: grid;
    grid-template-columns: [column_1] 1fr;
    grid-template-rows: [row-1] 0.6fr [row-2] 75px [row-3] 0.4fr;
  }

  .loginForm {
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    display: grid;
    width: 500px;
    grid-row-start: 2;
    margin-left: auto;
    margin-right: auto;
  }

  .arduinoLogo{
    display: block;
    margin: auto;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 160px; 
    height: 160px;
  }

  .usernameInput{
    font: 17px sans-serif;
    border: 1px solid rgb(214, 214, 214);
    border-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    margin-top: 5px;
    width: 700;
  }

  .passwordInput{
    font: 17px sans-serif;
    border: 1px solid rgb(214, 214, 214);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    padding-right: 15px;
    margin-bottom: 5px;
    width: 700;
  }

  .loginButton {
    background-color: rgb(0, 122, 255);
    color: white;
    border: 0px;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 80px;
    width: 80px;
    grid-row-start: 4;
  }

  .usernameInput:focus{
    margin-bottom: 2px;
    outline: solid 2px rgb(1, 112, 201);
  }

  .passwordInput:focus{
    outline: solid 2px rgb(1, 112, 201);
  }

  .loginButton:active{
    background-color: rgb(4, 97, 196);
  }

  .dynamicSecurity{
    color: white;
    font: 10px sans-serif;
    grid-row-start: 3;
    margin-top: auto;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .center{
    display: flex;
    justify-content: center;
    vertical-align: middle;
  }

  @media (max-width: 990px) { 
    .container{
      margin: 30px !important;
      width: 90%;
      height: calc(100vh - 100px);
      min-height: 60px;
    }

    .loginTitleGrid{
      width: 100%;
      align-items: center;
      grid-template-columns:  [row-1] 0.5fr [row-2] 10vw [row-3] auto [row-4] 0.5fr;
      grid-template-rows: [column_1] 1fr;
    }

    .loginText{
      width: 100%;
      font-size: 10vw;
      margin-bottom: 20px;
    }

    .loginImage{
      width: 10vw;
      height: 10vw;
    }

    .loginFormGrid{
      width: 100%;
      height: calc(100vh - 150px);
      grid-template-columns: [column_1] 1fr;
      grid-template-rows: [row-1] 0.6fr [row-2] 10vh [row-3] 0.4fr;
    }

    .arduinoLogo{
      width: 20vh;
      height: 20vh;
      margin: auto;
    }

    .passwordInput{
      height: 5vh;
      min-height: 50px;
      width: 70vw;
    }

    .usernameInput{
      font-size: 3.2vh;
    }

    .passwordInput{
      font-size: 3.2vh;
    }

    .loginButton{
      font-size: 3.2vh;
    }

    .usernameInput{
      height: 5vh;
      min-height: 50px;
      width: 70vw;
    }

    .loginButton{
      margin-top: 30px;
      height: 5vh;
      width: 30vw;
      min-width: 500px
    }

    .dynamicSecurity{
      font-size: 3vw;
    }
  }